<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Post</title>
</head>
<body>
    <%- include('menu') %>
    <% if (user) { %>
        <h2>Adicionar Post</h2>
        <form action="/addPost" method="POST" enctype="multipart/form-data">
            <textarea name="content" placeholder="Escreva seu post" required></textarea>
            <input type="file" name="image" accept="image/*">
            <button type="submit">Adicionar Post</button>
        </form>
    <% } else { %>
        <h2>Por favor, faça login para adicionar um post.</h2>
    <% } %>
</body>
</html>