<nav>
    <ul>
        <li><a href="/register">Registrar</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/posts">Listar Posts</a></li>
        <li><a href="/addPost">Adicionar Post</a></li>
        <li><a href="/profile">Perfil</a></li>
    </ul>
</nav>